<!DOCTYPE html>
<html>
    <head>
        <title>Your Masterpiece</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style type = "text/css">
            body,h1{
                font-family: "Comic Sans MS",sans-serif
            }
            body{
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <div class="container">
            <h1 data-th-inline="text">Share your own masterpiece</h1>
        </div>

        <hr />
        <div class="container">
            <a data-th-href="@{/files}">Upload a File</a>
        </div>
        
        <hr />
        <div class="container">
            View all <a data-th-href="@{/files}">files</a>
        </div>
        
        <hr />
        <div class="container">
            Go back to <a data-th-href="@{/main}">main page</a> ! 
        </div>
        
        <hr />
        <div class="container">
            <form data-th-action="@{/logout}" method="post">
                <input type="submit" class="btn btn-warning" value="Sign Out"/>
            </form>
        </div>
    </body>
</html>