<!DOCTYPE html>
<html>
    <head>
        <title>Your Masterpiece</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <h1 data-th-inline="text">Share your own masterpiece</h1>

        <hr />
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />
        
        <hr />
        <div>View all <a data-th-href="@{/files}">files</a> </div>
        <hr /> 
        
        <hr />
        <div>Go back to <a data-th-href="@{/main}">main page</a> ! </div>
        
        <hr />  
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" class="btn btn-warning" value="Sign Out"/>
        </form>
    </body>
</html>