<!DOCTYPE html>
<html>
    <head>
        <title>Recipes</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s wonderful recipes!</h1>
        
        <hr />
        Add Recipe<br />
        <form data-th-action="@{/recipe/add}" name="addRecipeForm" method="post">
            Title: <input type="text" name="title" /><br />
            Recipe Type:<br />
            <input type="radio" name="recipeType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="recipeType" value="MeatLover" /> MeatLover<br />
            <input type="radio" name="recipeType" value="Vegetarian" /> Vegetarian<br />
            <input type="radio" name="recipeType" value="Baker" /> Baker<br />
            <input type="radio" name="recipeType" value="Alcoholic" /> Alcoholic<br />
            <input type="radio" name="recipeType" value="SweetTooth" /> SweetTooth<br />
            <input type="radio" name="recipeType" value="InstantGourmet" /> InstantGourmet<br />
            Procedure: <input type="text" name="procedure" /><br />
            <input type="submit" value="Add Recipe"/>
        </form>
        
        <hr />
        <div>Go back to <a data-th-href="@{/main}">main page</a> ! </div>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>