<!DOCTYPE html>
<html>
    <head>
        <title>Recipes</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s wonderful recipes!</h1>

        <div>
            <table style="border: 1px solid black" class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Recipe Type</th>
                    <th>Recipe Procedure</th>
                </tr>                
                <tr data-th-each="Recipe : ${recipes}">
                    <td data-th-text="${Recipe.id}"></td>
                    <td data-th-text="${Recipe.title}"></td>
                    <td data-th-text="${Recipe.recipeType}"></td>
                    <td data-th-text="${Recipe.procedure}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Recipe<br />
        <form data-th-action="@{/recipe/add}" name="addRecipeForm" method="post">
            Title: <input type="text" name="title" /><br />
            Recipe Type:<br />
            <input type="radio" name="recipeType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="recipeType" value="MeatLover" /> MeatLover<br />
            <input type="radio" name="recipeType" value="Vegetarian" /> Vegetarian<br />
            <input type="radio" name="recipeType" value="Baker" /> Baker<br />
            <input type="radio" name="recipeType" value="Alcoholic" /> Alcoholic<br />
            <input type="radio" name="recipeType" value="SweetTooth" /> SweetTooth<br />
            <input type="radio" name="recipeType" value="InstantGourmet" /> InstantGourmet<br />
            Procedure: <input type="text" name="procedure" /><br />
            <input type="submit" class="btn btn-success" value="Add Recipe"/>
        </form>
        
        
        <!--
        <hr />
        Edit Recipe<br />
        <form data-th-action="@{/recipe/{id}(id=${recipe.id})}" data-th-object="${recipe}" data-th-method="put" role="form">
            Id: <input type="text" name="id" /><br /> 
            Title: <input type="text" name="title" data-th-value="${recipe.title}" /><br />
            Recipe Type:<br />
            <div data-th-each="elem: ${T(edu.infsci2560.models.Recipe.RecipeType).values()}">
                <input type="radio" 
                       data-th-name="recipeType" 
                       data-th-value="${elem.name()}" 
                       data-th-checked="${elem} eq ${T(edu.infsci2560.models.Recipe.RecipeType).valueOf(recipe.recipeType)}">
                    <span data-th-utext="${elem.name()}"></span>
                </input>
            </div>
            Procedure: <input type="text" name="procedure" data-th-value="${recipe.procedure}" /><br />
            <input type="submit" value="Update Recipe"/><br />
        </form>
        -->

        
        <hr />
        Delete Recipe<br />
        <form data-th-action="@{/recipe/delete}" name="deleteRecipe" method="delete">
            Input the recipe id that you want to delete: <input type="text" name="id" /><br /> 
            <input type="submit" class="btn btn-danger" value="Delete recipe"/>
        </form>
        
        <hr />
        <div>Go back to <a data-th-href="@{/main}">main page</a> ! </div>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" class="btn btn-warning" value="Sign Out"/>
        </form>
    </body>
</html>