
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit Recipe</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style type = "text/css">
            body,h1{
                font-family: "Comic Sans MS",sans-serif
            }
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
        <h1 data-th-inline="text">Update your recipe here. </h1>
        Edit Recipe<br />
            <form data-th-action="@{/recipes/edit/{id}(id=${recipe.id})}" data-th-object="${recipe}" data-th-method="put" role="form">
                Title: <input type="text" name="title" data-th-value="${recipe.title}" /><br />
                Recipe Type:<br />
                <input type="radio" name="recipeType" value="Unknown" checked="checked" /> Unknown<br />
                <input type="radio" name="recipeType" value="MeatLover" /> MeatLover<br />
                <input type="radio" name="recipeType" value="Vegetarian" /> Vegetarian<br />
                <input type="radio" name="recipeType" value="Baker" /> Baker<br />
                <input type="radio" name="recipeType" value="Alcoholic" /> Alcoholic<br />
                <input type="radio" name="recipeType" value="SweetTooth" /> SweetTooth<br />
                <input type="radio" name="recipeType" value="InstantGourmet" /> InstantGourmet<br />
                Procedure: <input type="text" name="procedure" /><br />
                <input type="submit" class="btn btn-success" value="Update Recipe"/><br />
                <!--recipeType: <span data-th-value="${Recipe.getRecipeType()}" /><br />
                procedure: <span data-th-value = "${Recipe.getProcedure()}" />-->
            </form>
        </div>
    </body>
</html>