<!DOCTYPE html>
<html>
    <head>
        <title>Useful Tips</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style type = "text/css">
            body,h1{
                font-family: "Comic Sans MS",sans-serif
            }
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 data-th-inline="text">Explore useful cooking tips and share yours!</h1>
        </div>

        <div class="container">
            <table style="border: 1px solid black" class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Cooking Tips</th>
                </tr>                
                <tr data-th-each="Tip : ${tip}">
                    <td data-th-text="${Tip.id}"></td>
                    <td data-th-text="${Tip.category}"></td>
                    <td data-th-text="${Tip.cookingTips}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        <div class="container">
            Post your advice <br />
            <form data-th-action="@{/tip/add}" name="addTipForm" method="post">
                Category:<br />
                <input type="radio" name="category" value="Prep" /> Prep<br />
                <input type="radio" name="category" value="Storing" /> Storing<br />
                <input type="radio" name="category" value="Cooking" /> Cooking<br />
                <input type="radio" name="category" value="Cleaning" /> Cleaning<br />
                <input type="radio" name="category" value="Others" checked="checked" /> Others<br />
                Cooking Tips: <input type="text" name="cookingTips" /><br />
                <input type="submit" class="btn btn-success" value="Add Tips"/>
            </form>
        </div>
        
        <hr />
        <div class="container">
            Go back to <a data-th-href="@{/main}">main page</a> ! 
        </div>
        
        <hr />
        <div class="container">
            <form data-th-action="@{/logout}" method="post">
                <input type="submit" class="btn btn-warning" value="Sign Out"/>
            </form>
        </div>
    </body>
</html>